@model FadamiCadastro.ViewModels.CadastroViewModel

@{
    ViewData["Title"] = "Cadastro";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/register.css">
    <link rel="stylesheet" href="~/css/base.css">

    <title>Login</title>
</head>
<body>
    @if (TempData["Success"] != null)
    {
            <script>

                alert('@TempData["Success"]');

        </script>
    }
    else if(TempData["Error"] != null)
    {
        <script>

            alert('@TempData["Error"]');

        </script>
    }
    <div class="container">
        <div class="my-form">
            <div class="my-form-title">
                <h3>CRIAR CONTA</h3>
            </div>

            <form asp-action="CadastrarUsuario" method="post">
                <div class="form-control">
                    <label for="name"></label>
                    <input asp-for="Nome" type="text" name="Nome" placeholder="Digite seu nome">
                </div>

                <div class="form-control">
                    <label for="email"></label>
                    <input asp-for="Login" type="text" required name="Login" placeholder="Digite seu e-mail">
                </div>

                <div class="form-control">
                    <label for="CPF"></label>
                    <input asp-for="CPF" type="text" name="CPF" placeholder="Digite seu CPF">
                </div>

                <div class="form-control">
                    <label for="password"></label>
                    <input asp-for="Senha" type="password" required name="Senha" placeholder="Digite sua senha" id="">
                </div>

                <div class="form-control">
                    <label for="password"></label>
                    <input asp-for="SenhaConfirmacao" type="password" required name="SenhaConfirmacao" placeholder="Confirme sua senha" id="">
                </div>

                <div class="form_action">
                    <button type="submit">Criar Conta</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
